<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <form action="/home" method="GET" class="needs-validation container"  >
    <div class="container p-5">
        <div class="card">
            <div class="card-body">

                <a href="/registration" class="btn btn-danger" >Registration</a>
                <a href="/logout " class="btn btn-danger">Logout</a>
                    <!-- <h1>Hello</h1> -->
                   
            </div>
        </div>
    </div>
    </form>
</body>
</html>